---
layout: layout-page
title: category
permalink: /category
---

<section class="layout-page-wrap category-page-wrap">
  {% assign doc_items = site.data.doc_items %}
  {% assign sorted_items = doc_items | sort: 'order' %}

  <div class="page-title-wrap">
    <h2 class="page-title">Categories</h2>
  </div>


  <div class="page-content-wrap">

    <span class="category-link-wrap">
      {% assign main_categories = sorted_items | map: "folder" | uniq %}
      {% for category in main_categories %}
        {% assign folder = category | split: '=>' | first | strip %}
        {% assign folder_name = folder | split: '"' | last | strip %}
        <a href="#id-{{ folder_name }}">{{ folder_name }}</a>
      {% endfor %}
    </span>

    <div class="page-category-container">
    {% for item in sorted_items %}
    <section class="page-category-wrap" id="id-{{ item.folder }}">
      <h3 class="folder">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
        </svg>
        <a href="{{item.url}}"}>{{ item.folder }}</a>
      </h3>
      {% include render-category.html posts=item.posts depth=1 %}
    </section>
    {% endfor %}
    </div>

  </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', () => {

  function removeListCss() {

    const wrapElement = document.querySelectorAll('.page-category-wrap.on');
    if(wrapElement.length > 0) {
      wrapElement.forEach(el => el.classList.remove('on'));
    }

  }
  
  function scrollToList(tagId) {
    
    const element = document.getElementById(tagId);
    if(element) {
      element.classList.add('on');
      element.scrollIntoView({ behavior: 'smooth', block: 'start' });
    }

  }

  const handleScroll =  Util.debounce(() => {
    if(window.scrollY === 0) {
      removeListCss();
    }
  }, 200);

  window.addEventListener('scroll', handleScroll);

  window.addEventListener('hashchange', () => {
    removeListCss();
    scrollToList(location.hash.replace('#', ''));
  });

  if(window.location.hash) {
    scrollToList(location.hash.replace('#', ''));
  }

});
</script>